# Exclude files from deployment:
## git files
.gitattributes export-ignore
.gitignore export-ignore
## duplicate documentation
ANKIWEB.md export-ignore
ANKIWEB.HTML export-ignore
PAGE.md export-ignore
## build script
build_zip.sh export-ignore
## screenshots
/screenshots export-ignore
# Adjust GitHub linguist settings:
image_occlusion_2/svg-edit/* linguist-vendored
image_occlusion_2/Imaging/* linguist-vendored
image_occlusion_2/etree/* linguist-vendored
ANKIWEB.html linguist-documentation
ANKIWEB.md linguist-documentation
PAGE.md linguist-documentation