*.pyc
*.pyo
.hidden
.directory
image_occlusion_enhanced/svg-edit/build
image_occlusion_enhanced/svg-edit/Makefile
image-occlusion.sublime-project
image-occlusion.sublime-workspace
design-spec.md
image-occlusion-enhanced-*.zip
docs/todo.md
docs/help.md
docs/contribs.ui
.vscode/
designer/
